/node_modules
/vendor
/public/hot
/public/storage
/public/css/
/public/images/
/public/fonts/
/public/js/
/public/*.cur
/public/*.json
/public/*.js
/storage/*.key

.env
.env.backup
.phpunit.result.cache

Homestead.*

*.log
*.bak
*.beforefix
*:Zone.Identifier

*.tar.gz
quizzes
